<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
	<style type="text/css">
		.lost {
			width: auto;
		}

		a.mcnButton {
			display: block;
		}

		.login-label {
			display: block;
			text-transform: uppercase;
			margin: 0.5rem 0 1.5rem 0;
			font-size: 0.85em;
			font-weight: bold;
		}

		.start-inputs input {
			height: 30px;
			border-color: #ddd;
			background-color: #ddd;
			padding: 0 0.5rem;
			border-radius: 2px;
			color: #000;
		}

		.start-inputs input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 300px #ddd inset;
			-webkit-text-fill-color: #000 !important;
		}

		.start-inputs {
			padding: 2rem;
			background-color: rgba(0, 0, 0, 0.8);
		}

		.auth-actions {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.linkPwd {
			cursor: pointer;
		}

		.start {
			/*
                background: -moz-linear-gradient(#161616 0%, #1a1a1a 54%, #404040 100%);
                background: -webkit-linear-gradient(#161616 0%, #1a1a1a 54%, #404040 100%);
                background: linear-gradient(#161616 0%, #1a1a1a 74%, #404040 130%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161616', endColorstr='#404040', GradientType=0);
                */
			height: 100vh;
			margin: 0;
			font-family: 'Gotham';
		}

		.start-content {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			min-height: 100%;
		}

		.start-content img {
			width: 300px;
			margin: 1.5rem 0;
		}

		.start-content form {
			width: 100%;
			max-width: 600px;
			padding: 0 1rem;
		}

		.start input {
			width: 100%;
			border: none;
			border-bottom: 1px solid #dddddd;
			background-color: transparent;
			font-family: 'Gotham';
			color: #fafafa;
			padding: 0.3rem 0px;
			/*text-transform: uppercase;*/
		}

		.start label {
			/* display: block;
                text-transform: uppercase; */
			/*margin: 0.5rem 0 1.5rem 0;*/
			font-size: 0.85em;
		}

		.start-buttons {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap-reverse;
			margin: 1.5rem 0;
			text-align: right;
		}

		.start-buttons button {
			margin-left: 1rem;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		.start-inputs.wrong-credentials {
			animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
			transform: translate3d(0, 0, 0);
			backface-visibility: hidden;
			perspective: 1000px;
		}

		html {
			height: 100%;
		}

		body {
			font-family: 'Gotham';
			background-color: #161616;
			color: #fafafa;
			background-image: url('/static/boca2.jpg');
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			margin: 0;
			padding: 0;
		}

		@font-face {
			font-family: 'Gotham';
			src: url('/static/Gotham-Bold.otf');
			font-weight: 900;
			font-style: normal;
		}

		@font-face {
			font-family: 'Gotham';
			src: url('/static/Gotham-medium-Regular.ttf');
			font-weight: bold;
			font-style: normal;
		}

		@font-face {
			font-family: 'Gotham';
			src: url('/static/Gotham-Book-Regular.otf');
			font-weight: normal;
			font-style: normal;
		}

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		input[type="file"]::-webkit-file-upload-button,
		button {
			border-radius: 0;
		}

		button.info {
			width: 20em;
			overflow: hidden;
			text-transform: uppercase;
			margin-top: 35px;
		}

		.grey-button {
			background-color: #555;
		}

		button {
			outline-color: none !important;
		}

		h1,
		h2,
		button {
			font-family: 'Gotham';
			font-weight: 900;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
		}

		h1 {
			font-size: 1.3rem;
			margin-top: 0;
		}

		button {
			height: 30px;
			line-height: 32px;
			border: 0px solid #000;
			background-color: rgba(0, 0, 0, 0.6);
			padding: 0 1.4rem;
			color: #fafafa;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.3s;
			border-radius: 2px;
		}
	</style>
</head>

<body>
	<center>
		<form>
			<div>
				<span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif"><span
						style="font-size:16px"><strong>
							<%= TITLE %>
						</strong><br>
						<span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">
							<span style="font-size:16px">
								<%= CONTENT %>
							</span>
						</span><br><br>
						<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
							style="border-collapse: separate !important;border: 1px none;border-radius: 10px;background-color: #FF6900;">
							<tbody>
								<tr>
									<td align="center" valign="middle" class="mcnButtonContent"
										style="font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 16px; padding: 18px;">
										<a class="mcnButton " title="Back To Iterpro" href="<%= HOST %>" target="_self"
											style="font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Back
											To Iterpro</a>
									</td>
								</tr>
							</tbody>
						</table>
			</div>
		</form>
	</center>
</body>

</html>
