<div #body class="main tw-mt-8">
	<div *blockUI="'containerProf'">
		<header>
			@if (!selectedPlayer) {
				<!-- Toolbar -->
				<div class="tw-flex tw-items-center tw-justify-between tw-mb-8">
					<!-- Main Title -->
					<h1 translate>profile.myTeam</h1>
					<div class="tw-flex tw-gap-4">
						<!-- Search Bar -->
						<div class="tw-flex tw-items-center tw-gap-4 tw-bg-shark-950 tw-bg-opacity-85 tw-px-4 tw-py-2 tw-rounded">
							<div class="tw-relative tw-w-full tw-rounded tw-shadow-lg">
								<input
									type="text"
									class="tw-w-80 tw-text-shark-200 tw-placeholder-shark-200 tw-border-shark-800 tw-transition-colors"
									[placeholder]="'admin.squads.search' | translate"
									[(ngModel)]="filterPlayer"
								/>
								<i class="fas fa-search tw-absolute tw-top-0 tw-right-0 tw-m-1 tw-text-shark-200"></i>
							</div>
						</div>
						<!-- Season Selector -->
						<div class="tw-flex tw-items-center tw-gap-4 tw-bg-shark-950 tw-bg-opacity-85 tw-px-4 tw-py-2 tw-rounded">
							<iterpro-change-season />
						</div>
						<!-- Download PDF / Filters / Legend -->
						<div class="tw-flex tw-items-center tw-gap-6 tw-bg-shark-950 tw-bg-opacity-85 tw-px-4 tw-py-2 tw-rounded">
							<span class="tw-text-sm" translate>profile.showArchived</span>
							<p-inputSwitch class="small-input-switch" [(ngModel)]="archivedListView"></p-inputSwitch>
							<iterpro-report-download (downloadPDF)="getReport()" />
							<iterpro-icon-button
								[icon]="showCardViewFilters || showListViewFilters ? 'fas fa-filter-slash' : 'fas fa-filter'"
								[tooltip]="(showCardViewFilters || showListViewFilters ? 'buttons.hideFilters' : 'buttons.showFilters') | translate"
								(click)="toggleFilters()">
							</iterpro-icon-button>
							<iterpro-icon-button
								[icon]="'fas fa-question'"
								[tooltip]="'bodychart.showLegend' | translate"
								(click)="op.toggle($event)">
							</iterpro-icon-button>
						</div>
						<div class="tw-bg-shark-950 tw-bg-opacity-85 tw-px-2 tw-py-1 tw-rounded">
							<!-- Card View / List View -->
							<p-tabMenu [model]="viewTypes" [activeItem]="activeViewType" (activeItemChange)="onViewChange()">
								<ng-template pTemplate="item" let-item>
									<a class="p-menuitem-link tw-px-2 tw-py-1">
										<i [class]="item.icon" [pTooltip]="item.label | translate"></i>
									</a>
								</ng-template>
							</p-tabMenu>
						</div>
					</div>
				</div>
				<!-- Filters -->
				@if (showCardViewFilters && activeViewType.id === 'cardView') {
					<div class="tw-bg-shark-950 tw-bg-opacity-85 tw-mt-4 tw-p-4 tw-rounded tw-grid tw-grid-cols-12 tw-gap-y-4">
						@for (filter of filters; track filter) {
							<div class="tw-col-span-3 tw-w-56">
								<div class="tw-text-sm iterpro-text-color-900" translate>
									{{ filter.label }}
								</div>
								@switch (filter.type) {
									@case('multiselect') {
										<div class="iterpro-item-container tw-mt-1">
											<p-multiSelect appendTo="body" optionLabel="label" placeholder="{{ 'dropdown.placeholder' | translate }}"
																		 [options]="filter.options" [(ngModel)]="filter.model"
																		 [style]="{ 'z-index': 'auto !important', width: '100%' }" (onChange)="changeFilter()">
											</p-multiSelect>
										</div>
									}
									@case('range') {
										<div class="tw-mt-1">
											<div class="iterpro-item-container">{{ filter.model[0] }} - {{ filter.model[1] }}</div>
											<div class="tw-p-4">
												<p-slider [(ngModel)]="filter.model" [min]="filter.min" [max]="filter.max" [range]="true"
																	(onChange)="changeFilter()"></p-slider>
											</div>
										</div>
									}
								}
							</div>
						}
					</div>
				}
			} @else {
				<!-- Player Header -->
				<div class="tw-flex tw-items-center tw-justify-between tw-mb-8">
					<!-- Player Dropdown -->
					<iterpro-search-dropdown [showCaretIcon]="!editService.editMode" [selectedPerson]="selectedPlayer" (selectPerson)="onSelectFromDropdown($event)" [people]="searchDropdownElements" />
					<div class="tw-flex tw-items-center tw-gap-4">
						<ng-container *ngIf="attributesEdit; else noAttributesEdit">
							<p-button size="small" styleClass="p-button-contrast" (click)="closeAttributesEdit()" [label]="'buttons.back' | translate"></p-button>
						</ng-container>
						<ng-template #noAttributesEdit>
							<ng-container *ngIf="!editService.editMode; else noAttributeEditMode">
								<p-button size="small" styleClass="p-button-contrast" *ngIf="showViewEditButton()" (click)="onEditPlayer()" [label]="'buttons.edit' | translate"></p-button>
								<p-button size="small" styleClass="p-button-contrast" (click)="onCloseProfile()" [label]="'buttons.close' | translate"></p-button>
							</ng-container>
							<ng-template #noAttributeEditMode>
								<button pButton size="small" class="p-button-primary" *ngIf="playerViewType !== playerViewTypes.Attributes" form="form" type="submit" [label]="'buttons.save' | translate"></button>
								<p-button size="small" styleClass="p-button-contrast" *ngIf="showViewDiscardButton()" (click)="onDiscard()" [label]="'buttons.discard' | translate"></p-button>
							</ng-template>
						</ng-template>
					</div>
				</div>
			}
		</header>

		<div class="tw-mt-4">
			@if (!selectedPlayer) {
				@if (activeViewType.id === 'listView') {
					<iterpro-players-table [showFilters]="showListViewFilters"
																 [team]="team"
																 [season]="selectedSeason"
																 [players]="(archivedListView ? archivedPlayers : players) | playersPipe : filterPlayer : selectedFilters"
																 [filterPlayer]="filterPlayer" (playerClickedEmitter)="onClickPlayer($event)" [sportType]="sportType" />
				} @else {
					@if (!isPlayersLoading) {
						@for (item of categories; track item) {
							@if (item.name === 'noPosition') {
								@if (item.players.length > 0) {
									<div class="tw-font-light tw-uppercase tw-mb-2">
										<h3 translate>roles.categories.noPosition</h3>
									</div>
									<div class="tw-flex tw-flex-wrap tw-gap-4 tw-mb-8">
										@for (player of item.players | playersPipe : filterPlayer : selectedFilters; track player) {
											<iterpro-player-card [player]="player" (clickedPlayer)="onClickPlayer($event)" />
										}
									</div>
								}
							} @else {
								<div class="tw-font-light tw-uppercase tw-mb-2">
									<h3 translate>roles.categories.{{ item.name }}s</h3>
								</div>
								<div class="tw-flex tw-flex-wrap tw-gap-4 tw-mb-8">
									@for (player of item.players | playersPipe : filterPlayer : selectedFilters; track player) {
										<iterpro-player-card [player]="player" (clickedPlayer)="onClickPlayer($event)" />
									}
								</div>
							}
						}
						<div class="tw-pb-8">
							<ng-container *ngIf="archivedListView && archivedListView" #archivedPlayers>
								<ng-container *ngFor="let item of archivedCategories">
									<div class="tw-mt-4" *ngIf="item.players.length > 0" [@toggleState]="archivedListView">
										<div class="tw-text-bold tw-mb-2">
											<h3 translate>profile.status.{{ item.name }}</h3>
										</div>
										<div class="tw-flex tw-flex-wrap tw-gap-4 tw-mb-8 tw-opacity-70">
											<iterpro-player-card
												*ngFor="let player of item.players | playersPipe : filterPlayer : selectedFilters"
												[player]="player" (clickedPlayer)="onClickPlayer($event)" />
										</div>
									</div>
								</ng-container>
							</ng-container>
						</div>
					} @else {
						@for (item of categoryLabelForSkeletons; track item) {
							<div class="tw-font-light tw-uppercase tw-mb-2">
								<h3 translate>{{ 'roles.categories.' + item + 's' }}</h3>
							</div>
							<div class="tw-flex tw-flex-wrap tw-gap-4 tw-mb-8">
								@for (player of 5 | arrayFromNumber; track player) {
									<iterpro-player-card [isPlayersLoading]="true" />
								}
							</div>
						}
					}
				}
			} @else {
				<!-- Player Profile -->
				<form id="form" #f="ngForm" (ngSubmit)="confirmPlayerFormSubmit(f)">
					<iterpro-player name="player" [activeIndex]="playerViewType" [user]="user" [player]="selectedPlayer"
													[editMode]="editService.editMode" [sportType]="sportType" [hideDisabledModules]="hideDisabledModules" [players]="allPlayers" [discarded]="discarded"
													[seasons]="seasons" [team]="team" (onSavePlayer)="onSavePlayerAttributes($event)"
													(tabChangeEmitter)="onTabChange($event)" (addedNewEntry)="onEditPlayer()"
													(reloadPlayers)="loadPlayers()" />
				</form>
			}
		</div>
	</div>
</div>

<p-overlayPanel #op [style]="{ 'background-color': '#585c5d' }" appendTo="body">
	<div style="padding: 1em; max-width: 20vw; max-height: 70vh; overflow: auto">
		<iterpro-legend-content [legendConfig]="legendConfig" />
	</div>
</p-overlayPanel>
