<p-dialog
	appendTo="body"
	[visible]="visible"
	[responsive]="true"
	[showHeader]="false"
	[closeOnEscape]="true"
	[focusOnShow]="true"
	[draggable]="false"
	[resizable]="false"
	[modal]="true"
	[style]="{ width: '70vw', height: '68vh', 'z-index': '1' }"
>
	<div>
		<p-header>
			<div class="header-container container-main title">
				<h4 translate>dialog.playerAppCredentials.title</h4>
			</div>
			<div class="header-container container-main">
				<span class="header-container">
					<span class="header-label" translate>profile.team</span>
					<p-dropdown
						appendTo="body"
						[options]="teams"
						[(ngModel)]="selectedTeam"
						(onChange)="onSelectTeam()"
						optionLabel="name"
						filter="true"
						placeholder="{{ 'dropdown.placeholder' | translate }}"
					></p-dropdown>
				</span>
				<span class="header-container">
					<span class="header-label">{{ 'dialog.playerAppCredentials.availableSeats' | translate }}:</span>
					<span class="header-el" [class.limit-reached]="hasReachedTheLimit()"
					>({{ getAvailableSeats() }} / {{ getTeamPlayerLimit() }})</span
					>
				</span>
			</div>
		</p-header>

		<div class="container">
			<ng-container *ngIf="!isLoading; else showTableLoading">
				<p-table styleClass="p-datatable-striped" *ngIf="!isLoading" [value]="players" [scrollable]="true" scrollHeight="50vh">
					<ng-template pTemplate="header">
						<tr class="tw-h-10">
							<th style="width: 50px" translate>
								<p-checkbox
									binary="true"
									[ngModel]="areAllEnabled()"
									(ngModelChange)="toggleAllEnabled($event)"
								></p-checkbox>
							</th>
							<th translate>general.player</th>
							<th translate>profile.contact.email</th>
							<th style="width: 50px; justify-content: center" translate>
								dialog.playerAppCredentials.passwordChanged
							</th>
							<th style="width: 50px" translate>dialog.playerAppCredentials.lastLogin</th>
							<!-- <th style="width: 50px" translate>Reset Password</th> -->
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
						<tr class="tw-h-10" [ngClass]="{ blocked: !rowData.email, disabled: !rowData.enabled }">
							<td style="width: 50px">
								<p-checkbox
									[(ngModel)]="rowData.enabled"
									(onChange)="toggleChangeStatus(rowData)"
									[disabled]="cannotBeEnabled(rowData)"
									binary="true"
								>
								</p-checkbox>
							</td>
							<td>
								<span>{{ rowData.displayName }}</span>
							</td>
							<td>
								<span *ngIf="rowData.email; else redirectIcon">{{ rowData.email }}</span>
								<ng-template #redirectIcon
								><i
									class="fas fa-arrow-up-right-from-square"
									(click)="onClickPlayer(rowData)"
									pTooltip="{{ 'dialog.playerAppCredentials.setEmail' | translate }}"
								></i
								></ng-template>
							</td>
							<td style="width: 50px; justify-content: center">
								<i
									*ngIf="rowData.enabled"
									class="point"
									[ngClass]="{
										green: !rowData.customerPlayer?.isTempPassword,
										red: !rowData.customerPlayer || rowData.customerPlayer?.isTempPassword
									}"
								></i>
							</td>
							<td style="width: 50px">
								<span *ngIf="rowData.enabled">{{
										rowData.customerPlayer?.mobileLatestLogin | formatDateBySetting : 'HH:mm'
									}}</span>
							</td>
							<!-- <td style="width: 50px">
							<p-checkbox
								*ngIf="rowData.enabled && rowData.customerPlayer"
								[ngModel]="rowData.reset"
								(ngModelChange)="toggleChangeReset(rowData, $event)"
								[disabled]="rowData.customerPlayer?.isTempPassword"
								binary="true"
							>
							</p-checkbox>
						</td> -->
						</tr>
					</ng-template>
				</p-table>
			</ng-container>

			<ng-template #showTableLoading>
				<p-table [value]="getTeamPlayerLimit() - getAvailableSeats() | arrayFromNumber" responsiveLayout="scroll">
					<ng-template pTemplate="header">
						<tr>
							<th *ngFor="let col of 6 | arrayFromNumber" style="height: 46px">
								<p-skeleton width="100px"></p-skeleton>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body">
						<tr>
							<td *ngFor="let col of 6 | arrayFromNumber"><p-skeleton></p-skeleton></td>
						</tr>
					</ng-template>
				</p-table>
			</ng-template>
		</div>
	</div>
	<p-footer>
		<p-button size="small" styleClass="p-button-primary"
			[disabled]="isConfirmDisabled() || isLoading"
			(click)="saveChanges()"
			label="{{ 'buttons.confirm' | translate }}"
		></p-button>
		<p-button size="small" [outlined]="true"  (click)="close()" label="{{ 'buttons.discard' | translate }}"></p-button>
	</p-footer>
</p-dialog>
