.header-container {
	display: flex;
	align-items: center;
}

.container-main {
	justify-content: space-between;
}

.title {
	margin-bottom: 1em;
}

.header-label {
	color: var(--color-neutral-900);
	margin-right: 0.8em;
}

.header-el .limit-reached {
	color: var(--color-primary-500) !important;
}


.container {
	margin-top: 1em;
}

.point {
	margin-left: auto;
	margin-right: auto;
}

.green {
	background-color: green;
}

.red {
	background-color: crimson;
}

.fas {
	cursor: pointer;
	color: var(--iterpro-text-color-white);
}
