
.crest {
	width: 30px;
	height: 30px;
	/* background-color: white; */
}


.table-title {
	padding-bottom: 1.5rem;
	font-weight: bold;
	text-align: center;
	/* background-color: #333333; */
	font-size: 1rem;
}

.title-container {
	padding-top: 1rem;
}

.table-title-comp {
	text-transform: uppercase;
	color: #bbbbbb;
	font-weight: normal;
}
