.t-table {
	font-size: 0.8rem;
}
.t-table td {
	padding: 5px;
}
.t-title {
	text-align: center;
	padding-bottom: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #bbbbbb;
}
.t-val {
	width: 26px;
	background-color: var(--color-neutral-300);
	text-align: center;
}
.t-val.max {
	background-color: var(--color-primary-500) !important;
	color: #fff;
}
.t-perc {
	/* flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  text-align: right;
  font-size: 0.5rem; */
}
.t-val + .t-perc {
	text-align: left !important;
	background-color: transparent;
}
.t-perc {
	background-color: transparent;
}
.t-table td.t-key {
	color: #fff;
	text-align: center;
	font-size: 0.7rem;
	padding: 5px 10px;
}

.legend-row {
  padding: 0.5em 0;
}
