<div class="centeredBlock">

	<!-- HEADER -->
	<div class="tw-flex tw-justify-between tw-items-center tw-mb-4">
		<h3 translate class="tw-uppercase">surveys.wellness</h3>
		<div class="tw-flex tw-items-center tw-gap-4">
			<p-button size="small" styleClass="p-button-primary" [label]="'buttons.save' | translate" (onClick)="save()"></p-button>
			@if (player.wellnesses[0] && player.wellnesses[0].id) {
				<p-button size="small" styleClass="p-button-danger" [label]="'buttons.delete' | translate" (onClick)="delete()"></p-button>
			}
		</div>
	</div>

	<!-- FORM -->
	<form id="sleepForm" class="tw-flex tw-flex-col tw-gap-4">

		<div>
			<h5 class="tw-flex tw-items-baseline tw-justify-start tw-gap-2"><i class="fas fa-face-sleeping"></i> <span translate>surveys.wellness.questions1</span></h5>
			<div>
				<div class="survey-buttons">
					<p-selectButton
						*ngIf="player.wellnesses[0]"
						[options]="values"
						[(ngModel)]="player.wellnesses[0].wellness_sleep"
						[ngModelOptions]="{ standalone: true }"
					></p-selectButton>
					<div class="tw-flex tw-justify-between tw-p-1 tw-text-sm">
						<div translate>surveys.wellness.questions1.labelLeft</div>
						<div translate>surveys.wellness.questions1.labelRight</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h5 class="tw-flex tw-items-baseline tw-justify-start tw-gap-2"><i class="fas fa-bed"></i> <span translate>surveys.wellness.questions6</span></h5>
			<div class="survey-buttons">
				<p-slider
					[(ngModel)]="sliderVal"
					[range]="true"
					[step]="5"
					[min]="sliderMinVal"
					[max]="sliderMaxVal"
					[ngModelOptions]="{ standalone: true }"
					(onChange)="handleSliderChange($event)"
				></p-slider>
				<div class="tw-flex tw-justify-between tw-p-1 tw-text-sm">
					<div>
						{{ player.wellnesses[0].sleep_start }} ({{ 'wellness.sleepTimeWithoutHours' | translate }})
					</div>
					<div>
						{{ sleep_hours }} <span translate>wellness.sleepTime</span>
					</div>
					<div>
						{{ player.wellnesses[0].sleep_end }} ({{ 'wellness.wakeUpTime' | translate }})
					</div>
				</div>
			</div>
		</div>

		<div>
			<h5 class="tw-flex tw-items-baseline tw-justify-start tw-gap-2"><i class="fas fa-brain"></i> <span translate>surveys.wellness.questions2</span></h5>
			<div>
				<div class="survey-buttons">
					<p-selectButton
						*ngIf="player.wellnesses[0]"
						[options]="values"
						[(ngModel)]="player.wellnesses[0].wellness_stress"
						[ngModelOptions]="{ standalone: true }"
					></p-selectButton>
					<div class="tw-flex tw-justify-between tw-p-1 tw-text-sm">
						<div translate>surveys.wellness.questions2.labelLeft</div>
						<div translate>surveys.wellness.questions2.labelRight</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h5 class="tw-flex tw-items-baseline tw-justify-start tw-gap-2">
				<i class="fas fa-battery-three-quarters"></i><span translate>surveys.wellness.questions3</span>
			</h5>
			<div>
				<div class="survey-buttons">
					<p-selectButton
						*ngIf="player.wellnesses[0]"
						[options]="values"
						[(ngModel)]="player.wellnesses[0].wellness_fatigue"
						[ngModelOptions]="{ standalone: true }"
					></p-selectButton>
					<div class="tw-flex tw-justify-between tw-p-1 tw-text-sm">
						<div translate>surveys.wellness.questions3.labelLeft</div>
						<div translate>surveys.wellness.questions3.labelRight</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h5 class="tw-flex tw-items-baseline tw-justify-start tw-gap-2">
				<i>
					<svg
						width="21px"
						height="19px"
						viewBox="0 0 407 472"
						version="1.1"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
					>
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g
								id="musculous-arm-silhouette"
								transform="translate(0.000000, 0.000045)"
								fill="#FFFFFF"
								fill-rule="nonzero"
							>
								<path
									d="M328.097,35.1419547 C312.62,17.0859547 225.761,-26.4840453 178.472,22.5269547 C131.182,71.5369547 181.424,106.162955 199.484,114.496955 C217.541,122.830955 269.131,135.562955 287.838,102.889955 C292.828,115.674955 289.461,222.020955 259.973,249.059955 C245.031,234.813955 223.463,225.869955 199.485,225.869955 C179.796,225.869955 161.739,231.900955 147.635,241.942955 C129.016,212.058955 93.79,191.880955 53.364,191.880955 C33.981,191.880955 15.801,196.539955 0.056,204.662955 L0.056,215.110955 C0.043,215.107955 0,215.097955 0,215.097955 L0,471.759955 C0,471.759955 74.807,475.629955 80.791,389.215955 C80.789,389.210955 80.786,389.205955 80.786,389.200955 C98.984,415.627955 156.966,435.741955 192.695,434.555955 C248.816,432.694955 323.388,430.234955 386.56,369.674955 C392.398,363.865955 397.08,357.005955 400.261,349.415955 C400.261,349.413955 400.261,349.413955 400.261,349.411955 C429.487,288.614955 343.573,53.1979547 328.097,35.1419547 Z"
									id="Path"
								></path>
							</g>
						</g>
					</svg>
				</i>
				<span translate>surveys.wellness.questions4</span>
			</h5>
			<div>
				<div class="survey-buttons">
					<p-selectButton
						*ngIf="player.wellnesses[0]"
						[options]="values"
						[(ngModel)]="player.wellnesses[0].wellness_soreness"
						[ngModelOptions]="{ standalone: true }"
						(onChange)="onSorenessChange($event)"
					></p-selectButton>
					<div class="tw-flex tw-justify-between tw-p-1 tw-text-sm">
						<div translate>surveys.wellness.questions4.labelLeft</div>
						<div translate>surveys.wellness.questions4.labelRight</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h5 class="tw-flex tw-items-baseline tw-justify-start tw-gap-2"><i class="fas fa-theater-masks"></i> <span translate>surveys.wellness.questions5</span></h5>
			<div>
				<div class="survey-buttons">
					<p-selectButton
						*ngIf="player.wellnesses[0]"
						[options]="values"
						[(ngModel)]="player.wellnesses[0].wellness_mood"
						[ngModelOptions]="{ standalone: true }"
					></p-selectButton>
					<div class="tw-flex tw-justify-between tw-p-1 tw-text-sm">
						<div translate>surveys.wellness.questions5.labelLeft</div>
						<div translate>surveys.wellness.questions5.labelRight</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- BODY CHART DIALOG -->
	<p-dialog
		[header]="'surveys.wellness.bodychart.header' | translate"
		modal="true"
		[(visible)]="bodyDialogOpened"
		[style]="{ width: '30vw' }"
		[closeOnEscape]="true"
		[focusOnShow]="true"
		[draggable]="false"
		[resizable]="false"
		(onHide)="bodyDialogOpened = false"
	>

		<iterpro-body-chart
			[showSwitch]="false"
			[showLegend]="false"
			[emitZoneClicked]="true"
			[injuries]="sorenessInjuries"
		/>

		<p-footer>
			<p-button
				size="small"
				styleClass="p-button-primary"
				icon="fas fa-check"
				(click)="saveSoreZones()"
				label="{{ 'buttons.save' | translate }}"
			></p-button>
			<p-button
				size="small"
				[outlined]="true"
				icon="fas fa-times"
				(click)="closeBodyDialog()"
				label="{{ 'buttons.discard' | translate }}"
			></p-button>
		</p-footer>

	</p-dialog>

</div>
