@switch (type)
{
	@case ('1') {
		<span class="semaphore-container">
			<span class="circle red"></span>
			<span class="circle yellow"></span>
			<span class="circle green"></span>
		</span>
	}
	@case ('2') {
		<span class="semaphore-container">
			<span class="circle green"></span>
			<span class="circle yellow"></span>
			<span class="circle red"></span>
		</span>
	}
	@case ('3') {
		<span class="semaphore-container">
			<span class="circle red"></span>
			<span class="circle yellow"></span>
			<span class="circle green"></span>
			<span class="circle yellow"></span>
			<span class="circle red"></span>
		</span>
	}
}
