<div class="pflex-grid">
	<div class="pflex-flex pflex-w-full pflex-justify-content-end pflex-pt-2 pflex-pr-2 pflex-gap-4">
		<div class="pflex-flex pflex-gap-2 pflex-align-items-center author-edit">
			<label><span translate>tooltip.author</span>:</label>
			<span>{{ player.lastAuthor | customerName : customers }}</span>
		</div>
		<div class="pflex-flex pflex-gap-2 pflex-align-items-center author-edit">
			<label translate>lastUpdate</label>
			<span>{{ player.lastUpdate | formatDateBySetting : 'HH:mm' }}</span>
		</div>
	</div>
	<div class="pflex-col-12 md:pflex-col-2 pflex-flex md:pflex-flex-column pflex-gap-3 md:pflex-px-4">
		<div class="tw-w-48 tw-flex tw-flex-col tw-justify-left tw-gap-4">
			<div>
				<div class="pflex-mb-3">
					<h3>{{ player.displayName }}</h3>
				</div>
				<div class="profile-picture tw-rounded">
					<iterpro-player-provider-widget [wyscoutId]="player?.wyscoutId" [instatId]="player?.instatId" />

					<iterpro-picture [photoUrl]="player.downloadUrl" class="pflex-block pflex-w-full" />
					<div *ngIf="editMode && player.downloadUrl" class="overlay">
						<i class="fas fa-trash" style="cursor: pointer" (click)="deleteImage()"></i>
					</div>
				</div>
				<div *ngIf="editMode" class="pflex-mt-3">
					<iterpro-cloud-upload
						[crop]="true"
						(completedEmitter)="onUploadImagePic($event.downloadUrl, $event.profilePhotoUrl, $event.profilePhotoName)"
						[spinner]="true"
						[maxFileSize]="1000000"
						accept="image/*"
					/>
				</div>
			</div>
			<div>
				<iterpro-tactic-board
					[first]="player.position"
					[second]="player.position2"
					[third]="player.position3"
					[sportType]="sportType"
					[selected]="hoverPosition"
				/>
			</div>
			<div class="pflex-flex pflex-justify-content-center">
				<p-button
					*ngIf="SCOUTING_CAN_MAP_PLAYER_TO_WYSCOUT"
					[class.button-disabled]="!editMode"
					style="background-color: #5c5c5c; white-space: nowrap"
					(click)="openThirdPartyPlayerSearchDialog('Wyscout')"
					[label]="'MAP TO WYSCOUT'"
				>
				</p-button>
				<p-button
					*ngIf="SCOUTING_CAN_MAP_PLAYER_TO_INSTAT"
					[class.button-disabled]="!editMode"
					style="white-space: nowrap"
					(click)="openThirdPartyPlayerSearchDialog('InStat')"
					[label]="'MAP TO INSTAT'"
				>
				</p-button>
			</div>
		</div>
	</div>
	<div class="pflex-col-10 pflex-grid pflex-align-content-start">
		<p-accordion [multiple]="true" class="pflex-col-12 md:pflex-col-6 pflex-pb-0">
			<p-accordionTab [header]="'general' | translate">
				<table class="fields-table pflex-w-full">
					<tr>
						<th translate>profile.overview.name</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.name" />
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.surname</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.lastName" />
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.displayName</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.displayName" />
						</td>
					</tr>
					<tr>
						<th translate>profile.contact.email</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.email" />
						</td>
					</tr>
					<tr>
						<th translate>profile.contact.phone</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.phone" />
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.birth</th>
						<td style="width: 70%">
							<p-inputMask
								[disabled]="!editMode"
								[mask]="dateMask"
								[placeholder]="dateFormat"
								[slotChar]="dateFormat"
								(onComplete)="updatePlayer()"
								[(ngModel)]="birthDate"
							></p-inputMask>
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.nationality</th>
						<td style="width: 70%">
							<p-dropdown
								appendTo="body"
								[disabled]="!editMode"
								[options]="nationalities"
								[(ngModel)]="player.nationality"
								[filter]="true"
								[showClear]="true"
								(onChange)="onSelectNationality()"
								[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
								[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
							>
							</p-dropdown>
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.altNationality</th>
						<td style="width: 70%">
							<p-dropdown
								appendTo="body"
								[disabled]="!editMode"
								[options]="altNationalities"
								[(ngModel)]="player.altNationality"
								[filter]="true"
								[showClear]="true"
								[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
								[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
							>
							</p-dropdown>
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.passport</th>
						<td style="width: 70%">
							<p-dropdown
								appendTo="body"
								[disabled]="!editMode"
								[options]="nationalities"
								[(ngModel)]="player.passport"
								[filter]="true"
								[showClear]="true"
								[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
								[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
								(onChange)="onSelectPassport()"
							>
							</p-dropdown>
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.altPassport</th>
						<td style="width: 70%">
							<p-dropdown
								appendTo="body"
								[readonly]="!editMode"
								[options]="altPassport"
								[(ngModel)]="player.altPassport"
								[filter]="true"
								[showClear]="true"
								[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
								[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
							>
							</p-dropdown>
						</td>
					</tr>
					<tr>
						<th translate>admin.contracts.origin</th>
						<td style="width: 70%">
							<p-dropdown
								appendTo="body"
								[disabled]="!editMode"
								[options]="originStatus"
								[(ngModel)]="player.nationalityOrigin"
								[filter]="false"
								[showClear]="true"
								[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
								[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
							>
							</p-dropdown>
						</td>
					</tr>
					<tr>
						<th translate>profile.team</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.currentTeam" />
						</td>
					</tr>
					<tr>
						<th translate>scouting.league</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.currentLeague" />
						</td>
					</tr>
					<tr>
						<th translate>financial.overview.contractExpiry</th>
						<td style="width: 70%">
							<p-calendar [disabled]="!editMode" [(ngModel)]="player.contractEnd"
													[clearButtonStyleClass]="'p-button-sm'"
													[todayButtonStyleClass]="'p-button-sm'"> </p-calendar>
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.agent</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.agent" />
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.agentEmail</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.agentEmail" />
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.agentPhone</th>
						<td style="width: 70%">
							<input pInputText [disabled]="!editMode" type="text" [(ngModel)]="player.agentPhone" />
						</td>
					</tr>
					<tr>
						<th>Scouting Team</th>
						<td style="width: 70%">
							<p-dropdown
								[readonly]="!editMode"
								[options]="teamList$ | async"
								[(ngModel)]="player.teamId"
								(onChange)="openChangeScoutingTeamDialog($event)"
								[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
								[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
							></p-dropdown>
						</td>
					</tr>
				</table>
			</p-accordionTab>
			<p-accordionTab [header]="'profile.deal.noName' | translate">
				<table class="fields-table scout-table pflex-w-full">
					<tr>
						<th translate>profile.overview.transferfee</th>
						<td>
							<iterpro-price-range [model]="player" from="feeFrom" to="feeTo" range="feeRange" [editMode]="editMode"></iterpro-price-range>
						</td>
					</tr>
					<tr>
						<th translate>profile.overview.transferwage</th>
						<td>
							<iterpro-price-range
								[model]="player"
								from="wageFrom"
								to="wageTo"
								range="wageRange"
								[editMode]="editMode"
							></iterpro-price-range>
						</td>
					</tr>
				</table>
			</p-accordionTab>
			<p-accordionTab [header]="'profile.tabs.attributes' | translate">
				<table class="fields-table scout-table pflex-w-full">
					<tr>
						<th translate>profile.overview.weight</th>
						<td><input pInputText [disabled]="!editMode" type="number" [(ngModel)]="player.weight" /></td>
					</tr>
					<tr>
						<th translate>profile.overview.height</th>
						<td><input pInputText [disabled]="!editMode" type="number" [(ngModel)]="player.height" /></td>
					</tr>
					<tr>
						<th translate>profile.position.{{ getLimb() }}</th>
						<td>
							<span *ngIf="!editMode">{{ player.foot | translate | capitalize }}</span>
							<p-dropdown *ngIf="editMode" [readonly]="!editMode" [options]="preferredFoot" [(ngModel)]="player.foot">
								<ng-template let-foot pTemplate="item">
									{{ foot.label | translate }}
								</ng-template>
								<ng-template let-foot pTemplate="selectedItem">
									{{ foot.label | translate }}
								</ng-template>
							</p-dropdown>
						</td>
					</tr>
				</table>
			</p-accordionTab>
		</p-accordion>
		<p-accordion [multiple]="true" class="pflex-col-12 md:pflex-col-6 pflex-pb-0">
			<p-accordionTab [header]="'scouting.scenarios' | translate">
				<ng-container *ngTemplateOutlet="scenarioBlock"></ng-container>
			</p-accordionTab>
			<p-accordionTab [header]="'profile.position' | translate">
				<div class="pflex-flex pflex-justify-content-end pflex-align-items-center pflex-mb-2">
					<i class="fas fa-question icon" (click)="op.toggle($event)"></i>
				</div>
				<table class="fields-table pos-table pflex-w-full">
					<tr>
						<th>
							<div translate>profile.position.firstPosition</div>
							<div *ngIf="sportType === 'football'" class="label-role" translate>profile.role</div>
						</th>
						<td style="width: 75%">
							<div class="position-dd">
								<div>
									<div>
										<span *ngIf="!editMode">
											{{ player.position | translate }}
										</span>
										<p-dropdown
											*ngIf="editMode"
											appendTo="body"
											[disabled]="!editMode"
											[options]="positions1"
											[showClear]="true"
											[(ngModel)]="player.position"
											(onChange)="onSelectPosition1($event)"
											(onClick)="hover('')"
											(onBlur)="hover('')"
											[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
											[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
										>
											<ng-template let-position pTemplate="item">
												<div (mouseenter)="hover(position)" (mouseleave)="hover('')">
													{{ position.label | translate }}
												</div>
											</ng-template>
										</p-dropdown>
									</div>
									<div *ngIf="sportType === 'football' && player.position" class="position-role">
										<div>
											<p-multiSelect
												appendTo="body"
												*ngIf="editMode"
												[disabled]="!editMode"
												maxSelectedLabels="0"
												[showClear]="true"
												[options]="roles1"
												[(ngModel)]="player.role1"
												placeholder="{{ 'multiselect.placeholder' | translate }}"
												selectedItemsLabel=""
												[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
												[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
											>
											</p-multiSelect>

											<ul class="roles-list">
												<li *ngFor="let role of player.role1" translate>profile.roles.{{ role }}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<div translate>profile.position.secondPosition</div>
							<div *ngIf="sportType === 'football'" class="label-role" translate>profile.role</div>
						</th>
						<td>
							<div class="position-dd">
								<div>
									<div>
										<span *ngIf="!editMode">
											{{ player.position2 | translate }}
										</span>
										<p-dropdown
											*ngIf="editMode"
											appendTo="body"
											[disabled]="!editMode"
											[options]="positions2"
											[(ngModel)]="player.position2"
											[showClear]="true"
											(onChange)="onSelectPosition2($event)"
											(onClick)="hover('')"
											(onBlur)="hover('')"
											[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
											[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
										>
											<ng-template let-position pTemplate="item">
												<div (mouseenter)="hover(position)" (mouseleave)="hover('')">
													{{ position.label | translate }}
												</div>
											</ng-template>
										</p-dropdown>
									</div>
									<div *ngIf="sportType === 'football' && player.position2" class="position-role">
										<div>
											<p-multiSelect
												appendTo="body"
												*ngIf="editMode"
												[disabled]="!editMode"
												[showClear]="true"
												maxSelectedLabels="0"
												[options]="roles2"
												[(ngModel)]="player.role2"
												placeholder="{{ 'multiselect.placeholder' | translate }}"
												selectedItemsLabel=""
											>
											</p-multiSelect>
											<ul class="roles-list">
												<li *ngFor="let role of player.role2" translate>profile.roles.{{ role }}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<div translate>profile.position.thirdPosition</div>
							<div *ngIf="sportType === 'football'" class="label-role" translate>profile.role</div>
						</th>
						<td>
							<div class="position-dd">
								<div>
									<div>
										<span *ngIf="!editMode">
											{{ player.position3 | translate }}
										</span>
										<p-dropdown
											*ngIf="editMode"
											appendTo="body"
											[disabled]="!editMode"
											[showClear]="true"
											[options]="positions3"
											[(ngModel)]="player.position3"
											(onChange)="onSelectPosition3($event)"
											(onClick)="hover('')"
											(onBlur)="hover('')"
										>
											<ng-template let-position pTemplate="item">
												<div (mouseenter)="hover(position)" (mouseleave)="hover('')">
													{{ position.label | translate }}
												</div>
											</ng-template>
										</p-dropdown>
									</div>
									<div *ngIf="sportType === 'football' && player.position3" class="position-role">
										<div>
											<p-multiSelect
												appendTo="body"
												*ngIf="editMode"
												[disabled]="!editMode"
												[showClear]="true"
												maxSelectedLabels="0"
												[options]="roles3"
												[(ngModel)]="player.role3"
												placeholder="{{ 'multiselect.placeholder' | translate }}"
												selectedItemsLabel=""
											>
											</p-multiSelect>
											<ul class="roles-list">
												<li *ngFor="let role of player.role3" translate>profile.roles.{{ role }}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</p-accordionTab>
			<p-accordionTab *ngIf="sportType === 'football'" [header]="'profile.position.preferredMoves' | translate">
				<div class="pflex-flex pflex-justify-content-end pflex-align-items-center pflex-mb-2">
					<i class="fas fa-question icon" (click)="op1.toggle($event)"></i>
				</div>
				<table class="fields-table pflex-w-full">
					<tr>
						<th translate>profile.position.preferredMoves.movementOnBall</th>
						<td style="width: 60%">
							<div class="p-inputgroup">
								<span class="p-inputgroup-addon"></span>
								<p-multiSelect
									appendTo="body"
									[disabled]="!editMode"
									[options]="preferredMovesSelectItems.movOnBall"
									[(ngModel)]="player.movOnBall"
									[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
									[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
								>
									<ng-template let-item pTemplate="item">
										<ng-container *ngTemplateOutlet="movementTemplate; context: { item }"></ng-container>
									</ng-template>
								</p-multiSelect>
							</div>
						</td>
					</tr>

					<tr>
						<th translate>profile.position.preferredMoves.movementOffBall</th>
						<td>
							<div class="p-inputgroup">
								<span class="p-inputgroup-addon"></span>
								<p-multiSelect
									appendTo="body"
									[disabled]="!editMode"
									[options]="preferredMovesSelectItems.movOffBall"
									[(ngModel)]="player.movOffBall"
									[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
									[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
								>
									<ng-template let-item pTemplate="item">
										<ng-container *ngTemplateOutlet="movementTemplate; context: { item }"></ng-container>
									</ng-template>
								</p-multiSelect>
							</div>
						</td>
					</tr>

					<tr>
						<th translate>profile.position.preferredMoves.passing</th>
						<td>
							<div class="p-inputgroup">
								<span class="p-inputgroup-addon"></span>
								<p-multiSelect
									appendTo="body"
									[disabled]="!editMode"
									[options]="preferredMovesSelectItems.passing"
									[(ngModel)]="player.passing"
									[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
									[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
								>
									<ng-template let-item pTemplate="item">
										<ng-container *ngTemplateOutlet="movementTemplate; context: { item }"></ng-container>
									</ng-template>
								</p-multiSelect>
							</div>
						</td>
					</tr>

					<tr>
						<th translate>profile.position.preferredMoves.finishing</th>
						<td>
							<div class="p-inputgroup">
								<span class="p-inputgroup-addon"></span>
								<p-multiSelect
									appendTo="body"
									[disabled]="!editMode"
									[options]="preferredMovesSelectItems.finishing"
									[(ngModel)]="player.finishing"
									[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
									[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
								>
									<ng-template let-item pTemplate="item">
										<ng-container *ngTemplateOutlet="movementTemplate; context: { item }"></ng-container>
									</ng-template>
								</p-multiSelect>
							</div>
						</td>
					</tr>

					<tr>
						<th translate>profile.position.preferredMoves.defending</th>
						<td>
							<div class="p-inputgroup">
								<span class="p-inputgroup-addon"></span>
								<p-multiSelect
									appendTo="body"
									[disabled]="!editMode"
									[options]="preferredMovesSelectItems.defending"
									[(ngModel)]="player.defending"
									[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
									[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
								>
									<ng-template let-item pTemplate="item">
										<ng-container *ngTemplateOutlet="movementTemplate; context: { item }"></ng-container>
									</ng-template>
								</p-multiSelect>
							</div>
						</td>
					</tr>

					<tr>
						<th translate>profile.position.preferredMoves.technique</th>
						<td>
							<div class="p-inputgroup">
								<span class="p-inputgroup-addon"></span>
								<p-multiSelect
									appendTo="body"
									[disabled]="!editMode"
									[options]="preferredMovesSelectItems.technique"
									[(ngModel)]="player.technique"
									[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
									[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
								>
									<ng-template let-item pTemplate="item">
										<ng-container *ngTemplateOutlet="movementTemplate; context: { item }"></ng-container>
									</ng-template>
								</p-multiSelect>
							</div>
						</td>
					</tr>
				</table>
			</p-accordionTab>
		</p-accordion>
	</div>
</div>

<p-dialog
	[(visible)]="showSwap"
	[showHeader]="true"
	[closable]="false"
	[closeOnEscape]="false"
	[draggable]="false"
	[resizable]="false"
	modal="modal"
>
	<div>
		<span *ngIf="swapConfig" translate [translateParams]="{ value: swapConfig?.scouting?.displayName }">scouting.confirmSwap</span>
	</div>
	<p-footer>
		<p-button size="small" styleClass="p-button-primary" (click)="onSwapEnd(true)" [label]="'yes' | translate"></p-button>
		<p-button size="small" (click)="onSwapEnd(false)" [label]="'no' | translate"></p-button>
	</p-footer>
</p-dialog>

<p-button
	size="small"
	*iterproTeleportTo="'.save-player-overview-button'"
	[class.button-disabled]="!editMode"
	(click)="savePlayer()"
	[label]="'buttons.save' | translate"
>
</p-button>

<p-dialog
	*ngIf="changeTeamDialog"
	[(visible)]="changeTeamDialog"
	[showHeader]="true"
	[draggable]="false"
	[closable]="false"
	[closeOnEscape]="false"
	[resizable]="false"
	modal="modal"
>
	<div class="pflex-flex pflex-flex-column">
		<span>
			{{ player.displayName }} will be removed from the observed scouting players of
			{{ oldTeamId | selectItemLabel : (teamList$ | async) }}.
		</span>
		<span style="margin-top: 1em">
			Do you want to add him to the observed scouting players of {{ player.teamId | selectItemLabel : (teamList$ | async) }}?
		</span>
	</div>
	<p-footer>
		<p-button size="small" styleClass="p-button-primary" (click)="closeTeamDialog(true)" label="{{ 'yes' | translate }}"></p-button>
		<p-button size="small" (click)="closeTeamDialog(false)" label="{{ 'no' | translate }}"></p-button>
	</p-footer>
</p-dialog>

<p-overlayPanel #op [style]="{ 'background-color': '#585c5d' }" appendTo="body">
	<div style="padding: 1em; max-width: 50vw; max-height: 50vh; overflow: auto">
		<h3 style="margin-bottom: 0.5em" translate>profile.position</h3>
		<ul>
			<li *ngFor="let pos of positionLegendItems" class="panel-li">
				<p style="font-weight: bold; font-size: 1.1em">{{ pos.label | translate }}</p>
				<span>{{ pos.tooltip | translate }}</span>
			</li>
		</ul>
	</div>
</p-overlayPanel>

<p-overlayPanel #op1 [style]="{ 'background-color': '#585c5d' }" appendTo="body">
	<div style="padding: 1em; max-width: 50vw; max-height: 50vh; overflow: auto">
		<h3 style="margin-bottom: 0.5em" translate>profile.position.preferredMoves</h3>
		<ul>
			<li *ngFor="let pos of preferredLegendItems" class="panel-li">
				<p style="font-weight: bold; font-size: 1.1em">{{ pos.label | translate }}</p>
				<span>{{ pos.tooltip | translate }}</span>
			</li>
		</ul>
	</div>
</p-overlayPanel>

<ng-template #scenarioBlock>
	<div class="pflex-flex pflex-flex-column">
		<span style="margin-left: auto">
			<iterpro-plus-dropdown
				*ngIf="editMode"
				appendTo="body"
				[disabled]="scenariosList.length === 0"
				[options]="scenariosList"
				[style]="{ 'justify-content': 'flex-end' }"
				(plusChange)="addNewScenarioMapping($event)"
				[pTooltip]="getScenarioDropdownTooltip()"
				placeholder="{{ 'dropdown.placeholder' | translate }}"
			>
			</iterpro-plus-dropdown>
		</span>
		<table *ngFor="let scenario of playerScenarios; let i = index" class="fields-table pos-table" style="width: 100%; margin-bottom: 1em">
			<tr>
				<th translate>scouting.scenario</th>
				<td>
					<div class="scenario-row">
						<div>{{ getScenarioName(scenario, i) }}</div>
						<i *ngIf="editMode" class="fas fa-trash" (click)="onDeleteScenario(scenario)"></i>
					</div>
				</td>
			</tr>
			<tr>
				<th translate>scouting.assignedTo</th>
				<td>
					<p-dropdown
						appendTo="body"
						[readonly]="!editMode"
						[options]="availableAssociablesFromPlayerScenario[i]"
						[ngModel]="mappedAssociablesFromPlayerScenarios[i]"
						(onChange)="scenarioRoles ? onSelectRole($event, scenario) : onSelectPlayer($event, scenario)"
						[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
						[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
					>
					</p-dropdown>
				</td>
			</tr>
			<tr>
				<th translate>scouting.recommended</th>
				<td>
					<p-dropdown
						appendTo="body"
						[showClear]="editMode"
						[readonly]="!editMode"
						[style]="{ width: '50%' }"
						[options]="availablePositionsFromPlayerScenarios[i]"
						[ngModel]="mappedPositionsFromPlayerScenarios[i]"
						(onChange)="onChangeMappingPosition($event, scenario)"
						[dropdownIcon]="!editMode ? 'none' : 'fas fa-chevron-down'"
						[placeholder]="!editMode ? null : ('dropdown.placeholder' | translate)"
					>
					</p-dropdown>
				</td>
			</tr>
		</table>
	</div>
</ng-template>

<p-dialog
	[(visible)]="addNewMappingFlag"
	[showHeader]="true"
	[draggable]="false"
	[closable]="false"
	[closeOnEscape]="false"
	[resizable]="false"
	modal="modal"
>
	<div class="pflex-flex pflex-flex-column">
		<span style="margin-bottom: 1em"> Please select the player you want to map this scouting to: </span>
		<p-dropdown
			appendTo="body"
			[showClear]="editMode"
			[readonly]="!editMode"
			[style]="{ width: '50%' }"
			[options]="elementsForNewMapping"
			[(ngModel)]="newMappingElement"
			placeholder="{{ 'dropdown.placeholderPlayer' | translate }}"
		>
		</p-dropdown>
	</div>
	<p-footer>
		<p-button size="small" styleClass="p-button-primary" (click)="confirmAddNewMapping(true)" label="{{ 'yes' | translate }}"></p-button>
		<p-button size="small" (click)="confirmAddNewMapping(false)" label="{{ 'no' | translate }}"></p-button>
	</p-footer>
</p-dialog>

<iterpro-third-party-player-search
	*ngIf="thirdPartyPlayerSearchDialogVisible"
	[provider]="thirdPartyProviderToMap"
	[alreadyImportedPlayers]="[]"
	[selection]="'single'"
	(discardEmitter)="onDiscardThirdPartySearchDialog()"
	(selectPlayersEmitter)="onSelectThirdPartySearchDialog($event)"
></iterpro-third-party-player-search>

<ng-template #movementTemplate let-item="item">
	<div class="pflex-w-15rem pflex-white-space-normal">
		<span class="pflex-text-xs" [pTooltip]="item.tooltip | translate">{{ item.label | translate }}</span
		>:
		<span class="pflex-text-xs">{{ item.tooltip | translate }}</span>
	</div>
</ng-template>
