<li class="tw-group">
	<a
		pRipple
		class="tw-transition-duration-150 tw-flex tw-cursor-pointer tw-items-center tw-rounded tw-p-4 tw-px-12 tw-font-medium tw-text-shark-200 tw-transition-colors hover:tw-bg-shark-800 hover:tw-text-white lg:tw-px-4 lg:tw-py-2"
	>
		<i class="fas fa-question-circle tw-mr-2 tw-text-base lg:tw-mr-0"></i>
	</a>
	<ul
		class="tw-z-50 tw-m-0 tw-hidden tw-w-full tw-origin-top tw-cursor-pointer tw-list-none tw-bg-shark-950 tw-border-solid tw-border-0.3 tw-border-shark-900 tw-rounded tw-px-12 tw-py-4 tw-shadow-none lg:tw-absolute lg:tw-w-60 lg:tw-px-0 lg:tw-py-0 lg:tw-shadow-lg"
		[ngClass]="{ 'group-hover:tw-block': true }"
	>
		<li class="tw-relative">
			<a
				pRipple
				class="tw-transition-duration-150 tw-flex tw-items-center tw-px-4 tw-py-3 tw-text-shark-200 tw-transition-colors hover:tw-bg-shark-800 hover:tw-text-white"
				[href]="url"
				target="_blank"
			>
				<span class="tw-font-medium">{{ 'home.userGuide' | translate }}</span>
			</a>
		</li>
		<li class="tw-relative">
			<a
				pRipple
				class="tw-transition-duration-150 tw-flex tw-items-center tw-px-4 tw-py-3 tw-text-shark-200 tw-transition-colors hover:tw-bg-shark-800 hover:tw-text-white"
				href="https://share.hsforms.com/1rE7NvsvuTIWBm7WQ1dhslQ1uo0p"
				target="_blank"
			>
				<span class="tw-font-medium">{{ 'home.contactSupport' | translate }}</span>
			</a>
		</li>
	</ul>
</li>
