.app-background {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.football {
	background-image: url(https://cdn.iterpro.com/images/football-3.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: soft-light;
}
.basketball {
	background-image: url(https://cdn.iterpro.com/images/basketball.jpg);
}
.rugby {
	background-image: url(https://cdn.iterpro.com/images/rugby.jpg);
}
.rugbyLeague {
	background-image: url(https://cdn.iterpro.com/images/rugby.jpg);
}

.volleyball {
	background-image: url(https://cdn.iterpro.com/images/volleyball.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: soft-light;
}

.triathlon {
	background-image: url(https://cdn.iterpro.com/images/triathlon.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: soft-light;
}

.iceHockey {
	background-image: url(https://cdn.iterpro.com/images/iceHockey.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: soft-light;
}

.americanFootball {
	background-image: url(https://cdn.iterpro.com/images/americanFootball.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: soft-light;
}
