<div class="tw-flex tw-items-center tw-justify-between">
	<iterpro-settings-header [section]="'settings.userPreferences'" [title]="'settings.userPreferences.security'"></iterpro-settings-header>
	<iterpro-action-buttons [editMode]="editMode"
													[buttonTypes]="changePwdForm?.dirty ?  ['edit', 'save', 'discard'] :  ['edit', 'discard']"
													[loading]="isLoading" (edit)="edit()" (discard)="discard()" (save)="onSubmit()"></iterpro-action-buttons>
</div>
@if(!isLoading) {
	<h4 class="tw-pb-3 tw-uppercase tw-mt-8" translate>settings.security.password</h4>
	<!-- Current password -->
	<div class="tw-flex tw-flex-col tw-gap-2" [formGroup]="changePwdForm">
		<div class="tw-grid tw-grid-cols-12 tw-items-center">
			<div class="tw-col-span-12 lg:tw-col-span-6 tw-grid tw-grid-cols-12 lg:tw-grid-cols-6 iterpro-item-container tw-items-center">
				<div class="tw-col-span-4 lg:tw-col-span-2">
					<span class="tw-text-sm iterpro-text-color-900" translate>settings.security.password.current</span>
				</div>
				<div class="tw-col-span-8 lg:tw-col-span-4">
					<input class="tw-text-sm" type="password" pInputText formControlName="current_password" />
				</div>
			</div>
			<iterpro-form-feedback [clickedCondition]="saveClicked" [type]="'custom'" [field]="'current_password'" [label]="'password.errors.required' | translate"></iterpro-form-feedback>
		</div>
		<!-- New password -->
		<div class="tw-grid tw-grid-cols-12 tw-items-center" [formGroupName]="'passwords'">
			<div class="tw-col-span-12 tw-grid tw-grid-cols-12 tw-items-center">
				<div class="tw-col-span-12 lg:tw-col-span-6 tw-grid tw-grid-cols-12 lg:tw-grid-cols-6 iterpro-item-container tw-items-center">
					<div class="tw-col-span-4 lg:tw-col-span-2">
						<span class="tw-text-sm iterpro-text-color-900" translate>settings.security.password.new</span>
					</div>
					<div class="tw-col-span-8 lg:tw-col-span-4">
						<input class="tw-text-sm" [type]="showPassword ? 'text' : 'password'" pInputText formControlName="new_password" />
					</div>
				</div>
				@if (editMode) {
					<div class="tw-col-span-12 lg:tw-col-span-6 tw-flex tw-gap-2 tw-items-center tw-ml-1">
						<iterpro-icon-button
							[icon]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
							[tooltip]="'icon.showPassword' | translate"
							(click)="showPassword = !showPassword"
						></iterpro-icon-button>
						@if (!changePwdForm.controls['passwords']['controls'].new_password.value) {
							<div class="tw-flex">
								@if (suggestedPassword) {
									<div class="tw-mr-2 tw-text-sm">
										<span translate>buttons.suggested <span translate>password.strong</span> </span>:
										<p-chip class="tw-text-sm tw-cursor-pointer" [label]="suggestedPassword" (click)="setFormPassword()"></p-chip>
									</div>
								}
								<p-chip
									class="tw-text-sm tw-cursor-pointer"
									[label]="!suggestedPassword	? ('buttons.generateNewPassword' | translate): ('buttons.generateAnotherPassword' | translate)"
									(click)="generatePassword()"
								></p-chip>
							</div>
						}
						@if (changePwdForm.controls['passwords']['controls'].new_password.invalid && changePwdForm.controls['passwords']['controls'].new_password?.errors?.errors?.length > 0) {
							<div class="tw-flex">
								<ul>
									@for(error of changePwdForm.controls['passwords']['controls'].new_password.errors.errors; track error) {
										<li class="tw-text-sm tw-text-red-500">
											<span translate>alert.missing</span>: <span translate>{{ error.message }}</span>
										</li>
									}
								</ul>
							</div>
						}
						@if (changePwdForm.controls['passwords']['controls'].new_password?.errors && changePwdForm.controls['passwords']['controls'].new_password.errors.minlength) {
							<div class="tw-flex">
								<div class="tw-text-sm tw-text-red-500" translate [translateParams]="{ value: 10 }">
									password.errors.minlength
								</div>
							</div>
						}
					</div>
				}
			</div>
		</div>
		<!-- Repeat new password -->
		<div class="tw-grid tw-grid-cols-12 tw-items-center" [formGroupName]="'passwords'">
			<div class="tw-col-span-12 tw-grid tw-grid-cols-12 tw-items-center">
				<div class="tw-col-span-12 lg:tw-col-span-6 tw-grid tw-grid-cols-12 lg:tw-grid-cols-6 iterpro-item-container tw-items-center">
					<div class="tw-col-span-4 lg:tw-col-span-2">
						<span class="tw-text-sm iterpro-text-color-900" translate>settings.security.password.confirm</span>
					</div>
					<div class="tw-col-span-8 lg:tw-col-span-4">
						<input class="tw-text-sm" type="password" pInputText formControlName="repeat_new_password" />
					</div>
				</div>
				@if (changePwdForm.controls['passwords']['controls'].repeat_new_password.errors &&
				changePwdForm.controls['passwords']['controls'].repeat_new_password.errors.matchPassword &&
				changePwdForm.controls['passwords']['controls'].repeat_new_password.dirty &&
				changePwdForm.controls['passwords']['controls'].new_password.touched) {
					<div class="tw-col-span-6">
						<div
							class="tw-text-sm tw-text-red-500" translate>
							{{ 'password.errors.notMatch' | translate }}
						</div>
					</div>
				}
			</div>
		</div>
	</div>
} @else {
	<div class="tw-mt-8">
		<iterpro-skeleton-grid [columns]="2" [rows]="3" [span]="2" [showTitle]="true"></iterpro-skeleton-grid>
	</div>
}

@if (editMode && passwordRequirements?.length > 0) {
	<div class="tw-flex tw-flex-col tw-gap-2 tw-mt-6">
		<div class="tw-text-md iterpro-text-color-900" translate>password.mustBe<span>:</span></div>
		@for(requirement of passwordRequirements; track requirement) {
			<div class="tw-text-sm iterpro-text-color-900">
				<span>- </span> <span translate>{{ requirement }}</span>
			</div>
		}
	</div>
}

