
.long-field {
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.fa-ambulance {
	background-color: crimson;
	padding: 0.1em;
}

.fa-exclamation-triangle {
	color: yellow;
}
