:host {
	height: 100%;
}

.content.content-with-test {
	padding: 0;
}

.content.content-with-test,
.content.content-empty {
	height: 100%;
}

.colView-nobg {
	background-color: transparent;
}

.default-table {
	width: 100%;
}

.default-table th {
	width: 25%;
}

.test-item {
	margin: 1rem 0;
}

.record-header {
	display: flex;
	margin: 0.5rem 0;
	align-items: center;
	justify-content: space-between;
}


.test-clear {
	clear: both;
	margin-bottom: 20px;
}

.record-buttons {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.record-buttons button {
	margin-right: 10px;
}

.record-select {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
}

.record-select > p {
	color: #bbbbbb;
	font-size: 0.9rem;
}

.record-item {
	margin: 3.5rem 0 2rem 0;
	display: flex;
	align-items: center;
}

.record-item > * {
	margin-right: 10px;
}

.report-item-buttons {
	margin-right: 0px;
	margin-left: auto;
	display: flex;
}

.report-item-buttons button {
	margin-left: 10px;
}

.player-name {
	width: 200px;
}

.table-container {
	padding-bottom: 20px;
}

.content button[disabled] {
	opacity: 0.5;
}

h5 + .small-table {
	margin-top: 1rem;
}

.small-table {
	width: 100%;
	text-transform: capitalize;
	font-size: 0.9rem;
}

.small-table th {
	font-family: 'Gotham';
	text-align: left !important;
	font-size: 0.9rem;
}

.small-table td,
.small-table th {
	padding: 0.5rem 1rem 0.5rem 0;
}

.small-table td {
	font-size: 0.9rem;
	text-transform: capitalize;
	font-weight: normal;
}

.tr-top {
	vertical-align: top;
}

.picture {
	overflow: hidden;
	position: relative;
}

.player-pic {
	box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.plus {
	font-family: Helvetica;
	font-weight: 900;
	color: rgba(255, 255, 255, 0.85);
	font-size: 48px;
}

.fields-table th {
	width: 25%;
}

.fields-table textarea {
	padding: 0;
	color: #ddd;
}

.test-table-cell {
	width: 80px;
	vertical-align: top;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 0.8rem;
}

.section-attachments {
	margin-top: 1em;
	height: auto;
}
.table-section {
	height: 100%;
}
.with-attachments .table-section {
	height: auto;
}

.custom-row-icons {
	text-align: right;
	align-self: center;
}
.custom-row-radio {
	text-align: center;
	width: 100%;
	flex: auto;
	align-self: flex-end;
}
.custom-row-type {
	width: 100%;
	flex: auto;
}
p-radioButton:first-child {
	margin-right: 10px;
}
.new-custom-row {
	width: 100%;
	height: 1.7rem;
	align-items: center;
	display: flex;
	margin-bottom: 15px;
}
.new-custom-row input {
	margin-right: 1em;
}
.new-custom-header {
	padding-top: 10px;
	padding-bottom: 20px;
	color: var(--color-primary-800);
}
.new-custom-footer {
	width: 100%;
	font-size: 0.85em;
	height: 1.7rem;
	margin-bottom: 10px;
}
.player-name-field-row {
	height: 2rem;
	vertical-align: middle;
	display: flex;
	line-height: 21px;
	margin-bottom: 15px;
}
.custom-fields-table {
	border-spacing: 0;
}
.radio-button-group {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80px;
}
/* .header-buttons > * {
	margin-left: 1rem;
	font-size: 0.85em;
} */
.group {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

/* .group > * {
  text-align: center;
} */

.records {
	flex-direction: column;
}

.table-cell input {
	width: 100%;
}
