.player {
  width: 100%;
  position: relative;
}
.pic {
	width: 100%;
	background-color: white;
}
.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.flag-icon {
	font-size: initial;
}